<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>FloofTravel(tm)</title>
</head>
<body>
<form action="#" th:action="@{/aiui}" method="post">
    <input type="text" th:name="type" th:label="Type"/>
    <input type="text" th:name="location" th:label="Location"/>
    <input type="submit" value="Search">
    <h3>AI</h3>
    <p th:text="${generation}"/>
    <h3>Neo4j + AI</h3>
    <p th:text="${generationwithneo}"/>
</body>
</html>